<a href="https://colab.research.google.com/github/sokhan1/PYTHON/blob/main/python_basic_class_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 큰 제목
## 그 다음으로 큰
### **볼드**
-1
 - 1-1
  - 1-1-1

1. a
2. b
> ㅎㅎ
>> ㅎㅎㅎ

$y=x$

''' python
print("Hello world")
'''

https://

## 파이썬은 계산기다!

In [ ]:
print("Hello")

Hello

In [ ]:
1+1
3-5
2*5

10

In [ ]:
5.2

5.2

In [ ]:
5/2

2.5

In [ ]:
4/2

2.0

In [ ]:
(3+5)*2

16

In [ ]:
type(2) # int는 integer의 줄임말

int

In [ ]:
type(2.0)

float

In [ ]:
type(2.)

float

In [ ]:
4/2

2.0

In [ ]:
4//2

2

In [ ]:
5//2

2

In [ ]:
int(5/2)

2

In [ ]:
int(5/2)

2

In [ ]:
float(1)

1.0

In [ ]:
int(-2.9)

-2

In [ ]:
5%2

1

In [ ]:
2**10

1024

In [ ]:
print(0b011)
print(0xA)

3
10

In [ ]:
0b011
0xA

10

In [ ]:
a=10

In [ ]:
print(a)
print("a")
a=1 # 10을 집어 넣었다가 1을 집어 넣었으니 이젠 a에 1이 들어가있다.

10
a

In [ ]:
print(a)

1

In [ ]:
a="Hello World"
print(a)

Hello World

In [ ]:
a1=1
a2=2
a3=3

In [ ]:
a=3
A=4
print(a); print(A)

3
4

In [ ]:
# a-b=1
# a*b=1

In [ ]:
a=1 ; b=2
c=a+b
print(c)

3

In [ ]:
a=a+5
print(a)

6

In [ ]:
a += 5
print(a)

11

In [ ]:
a*=2
print(a)

22

In [ ]:
a /= 2
print(a)

11.0

In [ ]:
x = 4
print(x)
print("x=",x)

4
x= 4

In [ ]:
print("Hello","World")
print(a)

Hello World
11.0

## 진화된 계산기다!

In [ ]:
a>3

True

In [ ]:
a>=3

True

In [ ]:
a!=3

True

In [ ]:
a is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-42-9a4f168196e7>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 1

False

In [ ]:
a is not 1

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-43-a0ea076735fa>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 1

True

In [ ]:
"Python"=="python"

False

In [ ]:
x=3
print(x>1 and x<5)
print(x>1 or x<-1)
print(bool(1))
print(bool(0))
print(type(x>1))
print(type("True"))

True
True
True
False
<class 'bool'>
<class 'str'>

## 여러 개를 한 변수에 넣을 순 없을까? 리스트!

In [ ]:
a=[1,2,3] #list 라고 함
print(a)

[1, 2, 3]

In [ ]:
a=[1,2,3]
b=[3,4,5]
print(a+b)

[1, 2, 3, 3, 4, 5]

In [ ]:
a = [4,"ㅋ",6] #뭐든 들어간다
print(a)

[4, 'ㅋ', 6]

In [ ]:
c=[]#빈 리스트
c.append(1)
c.append("하하")
c.append(3)
print(c)

[1, '하하', 3]

In [ ]:
a=[]
a+=[1]
a+=["ㅋ"]
a+=[2]
print(a)

[1, 'ㅋ', 2]

In [ ]:
loss_history=[]
loss=1
loss_history+=[loss]
loss=0.5
loss_history+=[loss]
loss=0.1
loss_history+=[loss]

## range는 반복문의 친구

In [ ]:
range(10)
a=list(range(10)) #range를 list로 바꿈

In [ ]:
b=list(range(1,11)) #1부터 시작 그리고 11미만 까지
print(b)
c=list(range(1,11,2)) # 1부터 시작 11미만 까지
print(c)
list(range(10,0,-1)) #10부터 시작해서 1초과까지 -1 간격으로

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플이라는 것도 존재

In [ ]:
a=(1,"ㅋ",3)
b=[1,2,3]
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [ ]:
b=tuple(range(10))
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
a=list(range(10))
b=tuple(range(10))
c=tuple(a)
d=list(b)
print(a)
print(b)
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## in은 있냐?를 물어봄

In [ ]:
a=list(range(10))
b=tuple(range(10))
c=range(10)
print(1 in a)
print(15 in a)
print(1 not in b)
print(15 in b)
print(5 in c)

True
False
False
False
True

In [ ]:
s= "Hello"
print("h" in s)
print("H" in s)

False
True

## 리스트의 기본 연산과 인덱싱

In [ ]:
a=[1,2,3]
b=a+a
c=a*3
d=a*(12//4)
e-a+int(12/4)
print(a)
print(b)
print(c)
print(d)
print(e)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a=[1,2,3]
print(len(a)) #len은 length다

3

In [ ]:
s="hello"
s2=["hello"]
print(s)
print(len(s))
print(s2)
print(len(s2))

hello
5
['hello']
1

In [ ]:
a=[1,2,3]
print(a[0]) #a[i]: i번째의 값을 가리킴
print(a[0],a[1],a[2])
print(a[-1])
print(a[-2])
print(a[-3])

1
1 2 3
3
2
1

In [ ]:
r=range(0,10,2) #range로 인덱싱 됨
print(r[0],r[1],r[2])
a=[1,2,3]
a[0] = 3
a[1] = 5
a[2] = 10
print(a)

0 2 4
[3, 5, 10]

In [ ]:
a=(1,2,3)
a[0]=1

## 슬라이싱

In [ ]:
a= [1,2,3,4,5,6,7,8,9,10]
b=a[0:3]
print(b)

[1, 2, 3]

In [ ]:
a= [1,2,3,4,5,6,7,8,9,10]
print(a[1:3])
print(a[1:7:2]) # 8은 비포함
print(a[:5]) # 첫 번째 자리를 비우면 처음 것 부터
print(a[5:]) # 두 번째 자리를 비우면 마지막까지
print(a[:])

[2, 3]
[2, 4, 6]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[:7:2])
print(a[7::2])
print(a[::2])
print(a[::]) #a[:]과 동일

[1, 3, 5, 7]
[8, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
dic1={"a":1,"b":2, 100:"5",200:"gg"}
print(dic1)
#key :value 이고 숫자 문자 뭐든 키, 값이 될 수 있다.
# 키에는 수정할 수 없는 튜플은 되고 리스트는 안됨
# 값에는 튜플도 되고 리스트도 됨
print(dic1["a"],dic1["b"],dic1[100],dic1[200])
print(len(dic1.keys()))
print(len(dic1.values()))
print(dic1.items())

{'a': 1, 'b': 2, 100: '5', 200: 'gg'}
1 2 5 gg
4
4
dict_items([('a', 1), ('b', 2), (100, '5'), (200, 'gg')])

In [ ]:
dict(zip(["a","b"],[1,2]))

{'a': 1, 'b': 2}

In [ ]:
dic1 = {"a":1,"b":2, "c":3, "d":4}
dic1["a"]=100;
print(dic1)
dic1["e"]="새로운키"
print(dic1)
print("a"in dic1)

{'a': 100, 'b': 2, 'c': 3, 'd': 4}
{'a': 100, 'b': 2, 'c': 3, 'd': 4, 'e': '새로운키'}
True

In [ ]:
a=5
print(a>3)
print(a<3)
print(a==5)

if a>3:
    print("3보다 큽니다")

if a<3:
    print("3보다 작습니다.")

if a==5:
    print("5와 같습니다")

True
False
True
3보다 큽니다
5와 같습니다

In [ ]:
a=5
if a==5:
    print("5와")
    print("같습니다")
#if a==5:
#    print("5와")
#    print("같습니다") #오류!
print("if문 밖으로 나옴. 여기서 부터 계속 실행된다.")

5와
같습니다
if문 밖으로 나옴. 여기서 부터 계속 실행된다.

In [ ]:
x=15
if x>10:
    print("10보다 크다.")
    if x==15:
        print("15입니다")
    if x==20:
        print("20입니다")

10보다 크다.
15입니다

In [ ]:
x=15
if x<10: #애초에 여길 통과 못해서 이 안에 if x==15 이더라도 실행되지 않음!
    print("10보다 크다.")
    if x==15:
        print("15입니다")
    if x==20:
        print("20입니다")

In [ ]:
x=15
if x<10:
    print("x는 10보다 작습니다(10미만)")
else:
    print("그 이외 (10 이상)")
    print("else도 들여쓰기 영역 모두 실행")

그 이외 (10 이상)
else도 들여쓰기 영역 모두 실행

In [ ]:
if True:
    print("여기 들어온다")
else:
    print("여기 안들어와야한다")

if False:
    print("여기 들어온다")
else:
    print("이번엔 여기로 들어와야 함")

여기 들어온다
이번엔 여기로 들어와야 함

In [ ]:
if "Hello":
    print("글자 있으면 True취급")
else:
    print("여기 안들어와야한다")

if "":
    print("빈 문자는 False 취급")
else:
    print("비었으면 일로 온다")

글자 있으면 True취급
비었으면 일로 온다

In [ ]:
print(bool(1))
print(bool(0))
print(bool("Hello"))
print(bool(""))

True
False
True
False

In [ ]:
a=1
b=2
if a>0 and b>0:
    print("둘다 맞아야만 들어옴")
else:
    print("둘 중 하나라도 안맞으면 여기로!")

둘다 맞아야만 들어옴

In [ ]:
a=1
b=-1
if a>0 or b>0:
    print("둘 중에 하나라도 맞으면 여기로")
else:
    print("둘다 아니면 여기로")

둘 중에 하나라도 맞으면 여기로

In [ ]:
a=-1
b=-1
if a>0 or b>0:
    print("둘 중에 하나라도 맞으면 여기로")
else:
    print("둘다 아니면 여기로")

둘다 아니면 여기로

In [ ]:
x=10
if 0 < x < 20:
    print("부등호 연달아 써도 된다")

부등호 연달아 써도 된다

In [ ]:
x=25
if  x <10:
    print("부등호 연달아 써도 된다")
elif x < 50:
    print("아니면 50보다 작은가?")

아니면 50보다 작은가?

In [ ]:
x=10
if  x <10: #가장 먼저 본 애를 실행
    print("부등호 연달아 써도 된다")
elif x < 100:
    print("아니면 100보다 작은가?")
else:
    print("둘다 아닌가?(10보다 작지도, 100보다 작지도 않은건가?)")

아니면 100보다 작은가?

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5,12):
    print(i)

5
6
7
8
9
10
11

In [ ]:
for i in range(5,12,2):
    print(i)

5
7
9
11

In [ ]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
i=0
while i<5:
    print(i)
    i +=1
print('=')
print('i=',i)

0
1
2
3
4
=
i= 5

In [ ]:
while True:
    print(i)
    i += 1
    if i != 5:
        break

5

In [ ]:
for i in range(10000000000000000000000000000):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [ ]:
EPOCH = 10
for i in range(EPOCH):
    asd = 1
    print(asd)
    break

1

In [ ]:
for i in range(10):
    if i % 2 == 0:
        continue #건너뛰어라
    print(i)

1
3
5
7
9

In [ ]:
i=0
while i < 10:
    i+=1
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
a=[1,2,3,4,5]
for i in range(len(a)):
    print(i, "번째에",a[i],"가 들어있어요")

0 번째에 1 가 들어있어요
1 번째에 2 가 들어있어요
2 번째에 3 가 들어있어요
3 번째에 4 가 들어있어요
4 번째에 5 가 들어있어요

In [ ]:
a=[1,2,3,4,5]
j=1
for i in a:
    print(j,"번째에",i,"가 들어있어요")
    j+=1

1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요

In [ ]:
a=[1,2,3,4.5]
for i,val in  enumerate(a):
    print(i,"번째에",val,"가 들어있어요")

0 번째에 1 가 들어있어요
1 번째에 2 가 들어있어요
2 번째에 3 가 들어있어요
3 번째에 4.5 가 들어있어요

In [ ]:
a=[1,2,3,4,5]
for i,val in  enumerate(a,start=1):
    print(i,"번째에",val,"가 들어있어요")

1 번째에 1 가 들어있어요
2 번째에 2 가 들어있어요
3 번째에 3 가 들어있어요
4 번째에 4 가 들어있어요
5 번째에 5 가 들어있어요

In [ ]:
a='*'
for i in range(5):
    print(i*a)

*
**
***
****

In [ ]:
a=[1,2,3]
a.append(4)
print(a,"len(a) =",len(a))

[1, 2, 3, 4] len(a) = 4

In [ ]:
a=[1,2,3]
a.append([4,5])
print(a,"len(a) =",len(a))

[1, 2, 3, [4, 5]] len(a) = 4

In [ ]:
a=[1,2,3]
a.extend([4,5])
print(a,"len(a) =",len(a))

[1, 2, 3, 4, 5] len(a) = 5

In [ ]:
a=[1,2,3]
a+=[4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3]
a.insert(1,100)
print(a)

[1, 100, 2, 3]

In [ ]:
a=[1,2,3]
a.insert(1,[100,200])
print(a)

[1, [100, 200], 2, 3]

In [ ]:
a=[1,2,3]
b=[100,200]
a[1:2]=b
print(a)

[1, 100, 200, 3]

In [ ]:
a=[1,2,3]
b=[100,200]
a[1:1]=b
print(a)

[1, 100, 200, 2, 3]

In [ ]:
a=[1,2,3]
a.pop()
#a.pop()
print(a)

[1, 2]

In [ ]:
a=[1,2,3]
a.pop(1)
#a.pop()
print(a)

[1, 3]

In [ ]:
a=[1,2,3,4,3,5,3]
a.remove(3)
print(a)
a.remove(3)
print(a)

[1, 2, 4, 3, 5, 3]
[1, 2, 4, 5, 3]

In [ ]:
a=[1,2,3,4,3,5,3]
a.index(3)

2

In [ ]:
a=[1,2,3,4,3,5,3]
a.count(2)

1

In [ ]:
a=[1,2,3,4,3,5,3]
a.reverse()
print(a)

[3, 5, 3, 4, 3, 2, 1]

In [ ]:
a=[1,2,3,2,7,4,5]
a.sort()
print(a)

[1, 2, 2, 3, 4, 5, 7]

In [ ]:
a=[1,2,3,2,7,4,5]
a.sort(reverse=True)
print(a)

[7, 5, 4, 3, 2, 2, 1]

In [ ]:
a=[1,2,3]
a.clear()
print(a)

[]

In [ ]:
a=[1,2,3]
b=a
b[1]=10
print(b)
print(a)

[1, 10, 3]
[1, 10, 3]

In [ ]:
a=[1,2,3]
b=a.copy()
b[1]=10
print(b)
print(a)

[1, 10, 3]
[1, 2, 3]

In [ ]:
a=[1,2,3]
b=a.copy()
a is b

False

In [ ]:
a=[1,2,3]
print(min(a))
print(max(a))
print(sum(a))
print(round(1.515611391,3))

1
3
6
1.516

In [ ]:
a = [i for i in range(5)] #range()
print(a)

[0, 1, 2, 3, 4]

In [ ]:
a=[i+5 for i in range(5)]
print(a)

[5, 6, 7, 8, 9]

In [ ]:
a=[i*2 for i in range(5)]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a=[i**2 for i in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [ ]:
a = [i-j for i in range(1,5) for j in range(1,5)]

In [ ]:
a=[]
for i in range(1,5):
    for j in range(1,5):
        a+=[i-j]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [ ]:
a=[i for i in range(10) if i%2==0 ] # range(10) 안의
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a=[]

for i in range(10):
    if i%2==0:
        a+=[i]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a=[i for i in range(10) if i>=5 ] # range(10) 안의
print(a)

[5, 6, 7, 8, 9]

In [ ]:
a= [[1,2,3],[4,6]] # a=["하나","둘"]
print(a,"len(a)=",len(a))
b=[[1,2,3],[4,5,6]]
print(b)

[[1, 2, 3], [4, 6]] len(a)= 2
[[1, 2, 3], [4, 5, 6]]

In [ ]:
a=[[1,2,3],[4,6]]
print(a[0])
print(a[1])
print(a[0][0],a[0][1],a[0][2])
a[1][1]=500

[1, 2, 3]
[4, 6]
1 2 3

In [ ]:
a=[[1,2,3],[4,5,6]]

for i in a:
    print(i)
print()
for x,y,z in a:
    print(x,y,z)

for i in a:
    for j in i:
        print(j,end=" ")
    print()
print()

for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end="")
    print()

[1, 2, 3]
[4, 5, 6]

1 2 3
4 5 6
1 2 3
4 5 6

123
456

In [ ]:
a=[]
for i in range(3):
    line=[]
    for i in range(2):
        line += [0]
    a +=[line]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [ ]:
a=[ [0 for i in range(2)] for j in range(3)]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [ ]:
[[0]*2 for i in range(3)]

[[0, 0], [0, 0], [0, 0]]

In [ ]:
a=[3,1,3,2]
b=[]
for i in a:
    line=[]
    for j in range(i):
        line+=[0]
    b+=[line]
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0]]

In [ ]:
a=[3,1,3,2]
b=[[0]*i for i in a]
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0]]

In [ ]:
a=[[1,2],[3,4]]
b=a.copy()
b[0][0]=100
print(a,b)

[[100, 2], [3, 4]] [[100, 2], [3, 4]]

In [ ]:
import copy
a=[[1,2],[3,4]]
n=copy.deepcopy(a)
b[0][0]=100
print(a,b)

[[1, 2], [3, 4]] [[100, 2], [3, 4]]

In [ ]:
print([i for i in range(3) for j in range(3)])
a=[]
for i in range(3):
    for j in range(3):
        a += [i]
print(a)

[0, 0, 0, 1, 1, 1, 2, 2, 2]
[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:
print([[i for i in range(3)] for j in range(3)])
a=[]
for i in range(3):
    for j in range(3):
        a += [i]
print(a)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]
[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:
a=1
b=2
c="ㅋㅋ"

print("a=",a,"b=",b,"c=",c)

a= 1 b= 2 c= ㅋㅋ

In [ ]:
a=1
b=2
c="ㅋㅋ"

print("a={}, b={}, c={}".format(a,b,c))

a=1, b=2, c=ㅋㅋ

In [ ]:
a=1
b=2
c="ㅋㅋ"

print("a={0}, b={2}, c={1}".format(a,b,c))

a=1, b=ㅋㅋ, c=2

In [ ]:
a=1
b=2
c="ㅋㅋ"

print("a={num1}, b={num2}, c={str1}".format(str1=c,num1=a,num2=b))

a=1, b=2, c=ㅋㅋ

In [ ]:
a=1
b=2
c="ㅋㅋ"

print(f"a={a}, b={b}, c={c}")
print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=ㅋㅋ
a=1, b=2, c=ㅋㅋ

In [ ]:
import os
folder_name="saved"
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

with open("saved/Hello.txt","w") as f:
    f.write("Hello world\n")
    f.write("Hello world!2\n")
    f.write("Hello world!3\n")

In [ ]:
with open("saved/Hello.txt","r") as f:
    for i in range(3):
        s=f.readline()
        print(s)

Hello world

Hello world!2

Hello world!3

In [ ]:
with open("saved/Hello.txt","r") as f:
    line=None
    while line !="":
        line= f.readline()
        print(line, end="")

Hello world
Hello world!2
Hello world!3

In [ ]:
def f(x):
    return x**2
f(-2) #function call

4

In [ ]:
def say():
    print("hello ")
say()

hello

In [ ]:
def add(a,b):
    print(a+b)
add(1,2)

3

In [ ]:
def add(a,b):
    return a+b
c = add(1,2)
print(c)

3

In [ ]:
def add(a,b):
    c=a+b
    d=c**2
    return c
print(add(1,2))
print(c) #런타임 다시 시작 이후 실행 -> a,b,c 변수명은 함수 안에서만 쓰인 것
#print(a)

3

NameError: name 'c' is not defined

In [ ]:
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d

x=add_sub(10,20)
print(x)

(30, -10)

In [ ]:
def add(a,b):
    return a+b
def mul(a,b):
    return a*b
def show_addmul(a,b):
    print(add(a,b))
    print(mul(a,b))
show_addmul(10,20)

30
200

In [ ]:
x=(10,20)
print(x)
print(*x)
show_addmul(*x)

(10, 20)
10 20
30
200

In [ ]:
def my_func(*a):
    print(f"a 에는 {a}가있다. 다립은 {type(a)}라고 한다")

my_func(12,3,4,5)

a 에는 (12, 3, 4, 5)가있다. 다립은 <class 'tuple'>라고 한다

In [ ]:
def my_func(*args): #args:arguments
    print(f"a 에는 {args}가있다. 다립은 {type(args)}라고 한다")
    for i in args:
        print(i)
my_func(12,3,4,5)

a 에는 (12, 3, 4, 5)가있다. 다립은 <class 'tuple'>라고 한다
12
3
4
5

In [ ]:
def my_func(*args):
    for i in args:
        print(i)
my_func("구독자1")

구독자1

In [ ]:
def introduce(name,age,address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}다")

introduce("혁펜",100,"한국")
introduce(name="혁펜",age=100,address="한국")

name= "혁펜"
address="한국"
age=100
introduce(name=name,address=address, age=age)

이름은 혁펜이고 나이는 100살이고 사는 데는 한국다
이름은 혁펜이고 나이는 100살이고 사는 데는 한국다
이름은 혁펜이고 나이는 100살이고 사는 데는 한국다

In [ ]:
def introduce1(name,age,address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}다")

def introduce2(name,age="비밀",address="비밀"):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}다")

introduce2(name="혁펜",age=100)
introduce2(name="혁펜")
introduce2(age)

이름은 혁펜이고 나이는 100살이고 사는 데는 비밀다
이름은 혁펜이고 나이는 비밀살이고 사는 데는 비밀다

In [ ]:
def introduce4(name="비밀",age="비밀",address="비밀"):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}다")

introduce4()

이름은 비밀이고 나이는 비밀살이고 사는 데는 비밀다

In [ ]:
d={"name":"혁펜","age":100, "address":"한국"}
print(*d)
introduce4(*d)
print({**d})
introduce4(**d)

name age address
이름은 name이고 나이는 age살이고 사는 데는 address다
{'name': '혁펜', 'age': 100, 'address': '한국'}
이름은 혁펜이고 나이는 100살이고 사는 데는 한국다

In [ ]:
def my_func(**kwargs):
    print(f"k 에는 {kwargs}가 들어있다, 타입은 {type(kwargs)}라고 한다")

my_func(name="혁펜")
my_func(name="혁펜",age=100,address="한국")

k 에는 {'name': '혁펜'}가 들어있다, 타입은 <class 'dict'>라고 한다
k 에는 {'name': '혁펜', 'age': 100, 'address': '한국'}가 들어있다, 타입은 <class 'dict'>라고 한다

In [ ]:
def introduce(**kwargs):
    if "name"in kwargs:
        print("이름은",kwargs["name"],"입니다")
    if "age" in kwargs:
        print("이름은",kwargs["name"],"입니다")
    if "address" in kwargs:
        print("사는 곳은", kwargs["address"], "입니다")

introduce(name="혁펜", age=100, address="한국")
introduce(name="혁펜")

이름은 혁펜 입니다
이름은 혁펜 입니다
사는 곳은 한국 입니다
이름은 혁펜 입니다

In [ ]:
def say(): #이런걸 재귀 함수라고 함
    print("Hello World!")
    say()

In [ ]:
def say(count):
    if count ==0:
        return
    print("Hello World")
    count-=1
    say(count)

say(3)

Hello World
Hello World
Hello World

##로컬변수와 글로벌변수

In [ ]:
EPOCH = 2
BATCH = 5 #글로벌변수

def train(weight):#weight는 매개변수
    x = 1 # x는 로컬변수
    for i in range(EPOCH):
        for j in range(BATCH):
            print(f"{i}번째 EPOnch이며 {j}번째 batch입니다")
            weight +=1
    return weight

train(0)

0번째 EPOnch이며 0번째 batch입니다
0번째 EPOnch이며 1번째 batch입니다
0번째 EPOnch이며 2번째 batch입니다
0번째 EPOnch이며 3번째 batch입니다
0번째 EPOnch이며 4번째 batch입니다
1번째 EPOnch이며 0번째 batch입니다
1번째 EPOnch이며 1번째 batch입니다
1번째 EPOnch이며 2번째 batch입니다
1번째 EPOnch이며 3번째 batch입니다
1번째 EPOnch이며 4번째 batch입니다

10

In [ ]:
def f():
    global x # 안에서 글로벌 변수를 만들 수 있다
    x=20
    print(x)
f()
print(x)

20
20

In [ ]:
x=10
def f():
    print(x)
    x=100
    # print(x)
f()
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [ ]:
x=10
def f():
    global x
    x=20
    print(x)

f()
print(x)

20
20

In [ ]:
def plus_ten(x):
    return x+10
plus_ten(10)

20

In [ ]:
plus_ten=lambda x: x+10 # 입력이 x, 출력이 x+10
plus_ten(10)

NameError: name 'plus' is not defined

In [ ]:
(lambda x: x+10)(10)

20

In [ ]:
def plus_ten(x):
    return x+10
list(map(plus_ten, [1,2,3]))
# 넣을 녀석들(list)을 넣어주면 여러번 call 해서 값을 얻는다
print(list(map(lambda x:x+10, [1,2,3])))

[11, 12, 13]

In [ ]:
f = lambda a,b: a+b
f(10,20)

30

In [ ]:
f = lambda a,b:a+b
list(map(f,[1,2,3],[2,3,4]))

[3, 5, 7]

In [ ]:
def add_1(a,b):
    c=1
    return a+b+c
print(add_1(10,20))

31

In [ ]:
def add_mul(a,b):
    return a+b, a*b

add_mul(10,20)

(lambda a,b:a+b)(10,20)

30

In [ ]:
def func(x):
    if x%2 == 0:
        return 2*x
    else:
        return x
list(map(func,[1,2,3,4]))

f = lambda x:2*x if x%2==0 else x
print(list(map(func,[1,2,3,4])))

[1, 2, 3, 2]

In [ ]:
# 로봇을 만든다고 해보자 ->로봇의 키가 몇이고 몸무게가 몇이고, 손을 흔들며 인사를 한다.
# 클래스는 좀 큰 변수를 만든다고 봐야... a=1 은 숫자 한 개 들어간 변수
# a에 숫자 한 개도 넣고 리스트도 넣고 그것들을 가지고 기능을 하는 함수를
#객체 지향 프로그래밍

class Robot:
    def greeting(self): # 메서드(method): 클래스 내부의 함수, 첫 번째 매개변수는 무조건 self
        print("Hello")

bot1 = Robot() #Robot 이라는 클래스에 해당하는 instance 만들기(실체화), 나중에는 입력도 넣을거라 () 붙여야함
bot1.greeting() #쩜은 '이놈이 가지고 있는"정도의 의미

Hello

In [ ]:
a=[1,2,3] #인스턴스 생성
a.append(4) # a라는 이름의 인스턴스 append 라는 이름의 method를 실행한다.
print(type(a))

<class 'list'>

In [ ]:
class Robot:
    def __init__(self): #initialize 라서 init, 인스턴스 생성 즉시 이 함수로 들어옴
    # 이 함수명은 약속된 이름이다 (special method)
        print("__init__으로 들어옴")

bot1 = Robot() #인스턴스 만드는 동시에 __init__ 함수 실행

__init__으로 들어옴

In [ ]:
class Robot:
    def __init__(self):
        self.sentence="안녕"
        #self는 만들어진 인스턴스 자기자신 자체를 가리킴.
        #self.무엇은 self 내부의 것(변수,함수)를 가리킴
        #클래스 내부의 변수는 속성(attribute)이라고 한다.

    def greeting(self):
        print(self.sentence)

bot1 = Robot()
bot1.greeting()

안녕

In [ ]:
class Robot:
    def __init__(self, height, sentence): #밖에서 넘어오는 매개변수는 무조건 self 뒤에
        self.height = height
        self.sentence = sentence
    def greeting(self):
        print(self.sentence)
        print(f"제 키는{self.height}이에요")

bot1 = Robot(180, "안녕")
bot1.greeting()

print(bot1.height)
print(bot1.sentence)
bot1.height -=10
bot1.greeting()


bot2 = Robot(160,"하이")

안녕
제 키는180이에요
180
안녕
안녕
제 키는170이에요

In [ ]:
class Robot:
    def __init__(self, height, sentence): #밖에서 넘어오는 매개변수는 무조건 self 뒤에
        self.__height = height #비공개로 만들고 싶은 속성은 앞에 밑줄 두 개
        self.sentence = sentence
    def greeting(self):
        print(self.sentence)
        self.__height-=10 #클래스 내부에서는 변형 가능
        print(f"제 키는{self.__height}이에요")

bot1 = Robot(180,"hi")
bot1.greeting()
#error! self.height는 밖에서 접근이 안된다..!
bot1.sentence ="ㅋ"
print(bot1.sentence)

hi
제 키는170이에요
ㅋ

In [ ]:
#상속 -> 효율화
class Robot: # 부모 클래스
    def greeting(self):
        print("안녕하세요")

class Study_bot(Robot): #자식 클래스, Robot 클래스를 상속 받음 -> Robot이 가지는 함수 사용 가능!
    def study(self):
        print("열심열심!!")

bot = Study_bot()
bot.greeting()
bot.study()

안녕하세요
열심열심!!

In [ ]:
# 메서드 오버라이딩 (overriding)
class Robot:
    def greeting(self):
        print("안녕하세요")

class Study_bot(Robot):
    def greeting(self):
        print("공부하는 로봇입니다")

bot1 = Study_bot()
bot1.greeting()

공부하는 로봇입니다

In [ ]:
# 메서드 오버라이딩 (overriding)
class Robot:
    def greeting(self):
        print("로봇입니다")

class Study_bot(Robot):
    def greeting(self):
        super().greeting() # super()가 부모클래스를 가리킴 #부모의 것을 이렇게 사용하는 것 가능
        print("공부하는 로봇입니다") #부모의 원래 기능은 유지, 거기에 덧붙이고 싶을 때 오버라이딩 사용 가능

bot1 = Study_bot()
bot1.greeting()

로봇입니다
공부하는 로봇입니다

In [ ]:
class Robot:
    def func1(self):
        print("부모 클래스의 func1 실행")
        self.money = 100

class study_bot(Robot):
    def func2(self):
        print("자식 클래스의 func2 실행")
        self.book = 10

bot1 = Study_bot()
bot1.func1() #부모 함수를 실행해야 부모의 속성도 가져오게 된다.
bot1.func2()
print(bot1.book)
print(bot1.money)

AttributeError: 'Study_bot' object has no attribute 'func1'

In [ ]:
#딥러닝 코드에선 아래와 같은 코드를 많이 보게 됨.
class Robot:
    def __init__(self):
        print("부모 클래스의 init 실행")
        self.money = 100

class study_bot(Robot):
    def func2(self):
        print("자식 클래스의 init 실행")
        self.book = 10



bot1 = Study_bot()
bot1.func2()
print(bot1.book)
print(bot1.money)

NameError: name 'Study_bot' is not defined

In [ ]:
class Robot:
    def greeting(self):
        print("로봇입니다")

class Life:
    def eat(self):
        print("냠냠")

class Study_bot(Robot, Life):
    def study(self):
        print("열심열심!")

bot1 = Study_bot()
bot1.greeting()
bot1.eat()
bot1.study()

로봇입니다
냠냠
열심열심!